# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.sqlite3
*.db

# Virtual Environments
venv/
.venv/
env/

# Environment Variables
.env
.env.*

# Logs
*.log

# VS Code
.vscode/

# React / Node
frontend/node_modules/
frontend/dist/

# OS Files
.DS_Store
Thumbs.db